@page "/"

<PageTitle>Proxy Server</PageTitle>

<div class="bg"></div>

<style>
    div.bg {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background-image: url('imgs/ProxyServerBg.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
</style>